body{
    display: flex;
    justify-content: center;
}

.list{
    margin-top: 50px;
}

.list-item{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.label-box{
    display: flex;
}